.title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:darksalmon;
}
.box {
    background-color: aliceblue;
    border: 4px;
    
}